body {
  margin: 0;
  font-family: Arial, sans-serif; /* Changed font family to Arial */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", monospace; /* Changed font family for code to Courier New */
}
